{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "MongoDb": {
    "ConnectionString": "{{ mongodb_connection_string | default('') }}",
    "DatabaseName": "{{ cosmos_database_name | default('your-database') }}",
    "SubscribersCollectionName": "{{ cosmos_collection_name | default('subscribers') }}"
  },
  "AzureBlob": {
    "ContainerUrl": "{{ blob_endpoint | default('https://storage-account-name.blob.core.windows.net/container-name') }}"
  }
}